
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.truck_load_size {
    border: 1px solid black;
    padding: 1% 2%;
    margin: 2px;
    width: 102px;
    height: auto;
    min-height: 68px;
    max-height: 68px;
}


.color_3 {
	background-color: #c0ecc0;
}


.color_2 {
	background-color: yellow;
}

.colorsData button.btn.btn-outline-primary.waves-effect.waves-light {
    margin-left: 17px;
    padding: 9px 32px;
    height: 38px;
    font-size: 1rem !important;
    margin-bottom:1rem !important; 
}
.colorsData .card .card-title {
    margin-bottom: 0.5rem;
}
.table th {
    font-size: 1rem;
}
.driversData .card-body {
    flex: 1 1 auto;
    padding: 0;
}

.driversData .card-body button.btn.btn-outline-primary.waves-effect.waves-light {
    margin-left: 17px;
    padding: 9px 32px;
    height: 38px;
    font-size: 1rem !important;
    margin-bottom:1rem !important; 
}

.driversData .card .card-title {
    margin-bottom: 0.5rem;
    }

    .driversData .table-hover-animation tbody tr:hover {
        transform: translateY(0px);
    }

    .driversData .table th, .driversData .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #F8F8F8;
    }

    .ordersData section#data-list-view td {
        transform: translateY(-4px);
        background: #fff;
      padding: 5px!important;
        vertical-align: middle;
    } 

    .ordersData  .btn.btn-outline-primary.color_.truck_load_size.waves-effect.waves-light , .ordersData .btn.btn-outline-primary.color_2.truck_load_size.waves-effect.waves-light , .ordersData  .btn.btn-outline-primary.color_3.truck_load_size.waves-effect.waves-light {
        width: 102px;
        min-height: 68px;
        max-height: 68px;
        padding: 1% 2%;
        text-align: left;
        color: #000;
        border-radius: 5px;
        border: 1px solid black;
    }

    .dataListOrder .btn-add-new.p-3.mb-4.mr-4.rounded-lg.cursor-pointer.flex.items-center.justify-center.text-lg.font-medium.text-base.text-primary.border.border-solid.border-primary span.ml-2.text-base.text-primary {
        padding: 9px 28px;
        float: left;
        margin: 0 !important;
        border-radius: 5px;
    }

    .truck_load_size p {
        margin: 0px;
        text-align: left;
        font-size: 13px;
    }

    .colorsData .card-header  , .driversData .card-header{
        margin-bottom: 1.5rem;
    }

    .driversData .table-hover-animation tbody tr:hover {
        transform: translateY(0px);
        background: rgba(34, 41, 47, 0.075);
    }

    .ordersData .table_paragraph {
        min-height: 170px;
        max-height: 170px;
    }

    .ordersData section#data-list-view tr {
        transform: translateY(-4px);     border-bottom: 10px solid #F8F8F8;
    }

    .ordersData section#data-list-view tbody tr:hover {
        transform: translateY(0);
    }

    .data-list-view-header .add-new-data-sidebar .add-new-data .data-items {     
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
        position: relative;
        touch-action: auto;
    }

    .home-link {
         margin-right: 8px;
    }


    .ordersData button.dt-button.btn-outline-primary {
        margin-left: 17px;
        padding: 9px 32px;
        height: 38px;
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
        border-radius: .25rem;
    }

    .main-menu .main-menu-content i-feather.feather-icon {
        margin-right: 1rem;
        float: left;
        font-size: 1.2rem;
    }

    .main-menu .main-menu-content i-feather {
        font-size: 1.2rem;
        margin-right: 1rem;
        float: left;
    }

    .ordersData section#data-list-view tbody tr:hover {
        transform: translateY(0);
    }

    .ordersData section#data-list-view  tbody tr {
        transform: translateY(-4px);
        border-bottom: 10px solid #f8f8f8;
    }

    html {
        letter-spacing: 0.01rem;
    }

    .main-menu.menu-light .navigation .navigation-header span {
        color: #999999;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        font-weight: 500;
    }

    .ordersData .actions.action-btns .btn-group.dropdown.actions-dropodown {
        box-shadow: 0 0 #fff !important;
    }

    .ordersData .action-filters {
        display: none;
    }

    p.date_and_time {
        width: 125px;
    }

    table.data-list-view.dataTable thead .sorting:before , table.data-list-view.dataTable thead .sorting:after { display:none;}

    .ordersData .table_paragraph {
        min-height: 150px;
        max-height: 150px;
        padding: 0 0 0 0.5rem;
    }
    .table th, .table td{
        padding: 1rem 0.5rem !important;
    }
    .ordersData section#data-list-view td .table_paragraph {
        padding-left: 0;
    }
    button.dt-button.add-new-dissable {
        display: none;
    }

    td.dataTables_empty {
        display: none;
    }

    .i-feather-check {
        display: contents !important;
        color: wheat;
    }

    th.head_fees.sorting {
        min-width: 120px;
    }

    th.load_size.sorting {
        min-width: 65px;
    }

    th.specs {
        min-width: 102px;
    }

    th.bill_to.sorting {
        min-width: 85px;
    }

    .table_td_fees {
        min-width: 120px;
    }

    .ordersData input.parent_checkbox {
        margin-left: 5px;
    }

    .vs-table-text {
        font-weight: 600;
    }

    .dataListOrder p.product-name.font-medium.truncate {
        font-weight: 400 !important;
    }

    p.product-name.font-medium.truncate b {
        font-weight: 600 !important;
        color: #626262;
    }

    .card-header.d-flex.flex-column.align-items-start.pb-0 {
        align-items: start;
    }
    .card .card-header.d-flex.flex-column.align-items-start {
        padding: 1.5rem !important;
    }
    i.feather.icon-shopping-cart.text-danger.font-medium-5 {
        float: left;
    }

    .card-content .py-1 {
        float: left;
        width: 50%;
    }

    .chart-info.d-flex.justify-content-between.mb-1 {
        padding: 0 1.5rem;
        margin-bottom: 1rem !important;
    }

    .card-content span.text-bold-600.mx-50 {
        padding-left: 0.5rem !important;
    }

    .chart-info.d-flex.justify-content-between.mb-50 {
        padding: 0 1.5rem 1rem !important;
    }

    .series-info i.fa.fa-circle.font-small-3.text-primary, .series-info i.fa.fa-circle.font-small-3.text-warning, .series-info i.fa.fa-circle.font-small-3.text-danger {
        background: #7367F0;
        width: 11px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin-top: 4px;
        margin-right: 8px;
    }

    .series-info i.fa.fa-circle.font-small-3.text-danger {
        background: #EA5455 !important;
    }

    .series-info i.fa.fa-circle.font-small-3.text-warning {
        background: #FF9F43 !important;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow {
        width: 100%;
        display: flex;
        height: auto;
        position: fixed;
        top: 70px;
        padding: 16px 20px;
        overflow: visible;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul#main-menu-navigation li.nav-item {
        display: inline-block;
        padding:0;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow .main-menu-content.ps ul#main-menu-navigation li.navigation-header.active,  .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow .main-menu-content.ps ul#main-menu-navigation li.navigation-header{
        display: none;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul.nav.navbar-nav.flex-row {
        display: inline-flex;
        flex-flow: column;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul#main-menu-navigation li.nav-item a {
        font-size: 14px;
        padding: 0 15px;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul#main-menu-navigation li.nav-item a i-feather {
        font-size: 14px !important;
        margin-right: 6px;
        width: 16px;
        height: 16px;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul#main-menu-navigation li.nav-item a span.badge.badge.badge-warning.badge-pill.float-right.mr-2 {
        margin-right: 0 !important;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow ul.nav.navbar-nav.flex-row li a {
        padding: 0;
        margin: 0;
    }
     .main-menu .navbar-header {
        height: auto;
    }
     .app-content.content {
        margin: 0;
    }
     nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.floating-nav.navbar-light.navbar-shadow {
        width: 100%;
        margin: 0;
        padding: 0 25px;
    }
    html body .content .content-wrapper {
        margin-top: 10rem;
    }
    html body.blank-page .content.app-content .content-wrapper {
        margin: 0;
    }
     .main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow .navbar-header {
        display: none;
    }
    table.data-list-view.dataTable, table.data-thumb-view.dataTable{
        font-size: 13px;
    }
    .main-menu.menu-light .navigation .navigation-header {
        display: none;
    }
    .ordersData section#data-list-view td svg {
        width: 14px;
        color: #28C76F;
    }
    li.nav-item.hover:hover ul.menu-content {
        display: block;
        top: 42px;
        position: fixed;
        z-index: 9999999999 !important;
        padding: 8px 0;
    }
    .ordersData section#data-list-view td i-feather svg.feather.feather-trash, .ordersData section#data-list-view td i-feather svg.feather.feather-edit {
        color: #626262;
        width: 18px;
    }
    body.vertical-layout.vertical-menu-modern .footer{
        margin-left: 0;
    }
    .horizontal-menu .header-navbar.navbar-horizontal.floating-nav ul#main-menu-navigation li.nav-item a {
        display: flex;
        align-items: center;
        color: #626262;
    }
    .horizontal-menu .header-navbar.navbar-horizontal.floating-nav ul#main-menu-navigation li.nav-item a i-feather {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }
    .horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > .dropdown-menu li {
        padding: 0.965rem 1.428rem;
    }
    .horizontal-menu.navbar-floating .horizontal-menu-wrapper .navbar-horizontal.floating-nav{
        margin:1.0rem 2.2rem 0;
    }
    .btn[class*='btn-outline-'] {
        /* padding: 0px 5px; */
    }
    table.data-list-view.dataTable tbody td .btn[class*='btn-outline-'] {
        padding: 2px 5px;
    }
    table.data-list-view.dataTable tbody tr td .table_paragraph p.date_and_time {
        margin-bottom: 0;
    }
    table.data-list-view.dataTable tbody tr i-feather.ng-star-inserted {
        color: #28C76F !important;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .table th, .table td {
        padding: 0.7rem !important;
    }
    table.data-list-view.dataTable tbody td, .btn.btn-outline-primary.ng-star-inserted {
        margin-top: 8px;
    }
	table.data-list-view.dataTable tbody tr td .table_paragraph {
        min-height: 135px;
    }
    table.data-list-view.dataTable tbody td, table.data-thumb-view.dataTable tbody td{
        vertical-align: top;
    }
    .data-list-view-header .table-responsive .top .action-btns select, .data-list-view-header .table-responsive .top .action-btns button {
        border-radius: 0.4285rem;
        padding: 8px 10px;
        height: 45px;
        width:120px;
    }
    .data-list-view-header .table-responsive .top .action-btns select {
        font-weight: 500;
        font-size: 1rem !important;
    }
    .data-list-view-header .table-responsive .top .action-btns button i-feather {
        width: 17px;
        margin-right: 5px;
        height: 17px;
    }
    table.data-list-view.dataTable tbody tr:hover, table.data-thumb-view.dataTable tbody tr:hover{
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: all 0.3s ease;
    }
    table.data-list-view.dataTable, table.data-thumb-view.dataTable{
        border-spacing: 0px 0.9rem;
    }
    .horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > .dropdown-menu a:hover{
        padding-left: 25px !important;
        background-color: #7367f0;
        color: #fff;
    }
    .horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > .dropdown-menu li{
        padding: 0;
    }
    .horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > .dropdown-menu a{
        padding: 1.1rem 1.428rem;
    }
    .horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > .dropdown-menu {
        padding: 0;
    }
    .table-hover-animation tbody tr:hover{
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    .card{
        box-shadow: 0 4px 25px 0 rgb(138 138 138 / 6%);
    }
	
	div#DataTables_Table_0_paginate {
		display: none;
	}
	div#DataTables_Table_0_paginate1 {
		display: flex;
		justify-content: center;
	}
    li.current-order-page {
        display: flex;
        align-items: center;
        background: #7367f0;
        color: white;
        width: 40px;
        height: 40px;
        /* text-align: center; */
        justify-content: center;
        border-radius: 66px;
        margin: 0 4px;
    }
.card-custom .form-group span {
    font-weight: 500;
    margin-top: 3px;
    font-size: 1.1rem;
}
button.custom-zone-btn, .zip-btn-group button.xip-btn-col {
    border-radius: 0.4285rem;
    padding: 8px 10px;
    height: 40px;
    min-width: 100px;
    border: 1px solid #7367F0;
    background-color: transparent;
    color: #7367F0;
    margin: 0 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
}
.avalible-zip-code select.form-control.mult-zip {
    padding: 0;
    background-image: none;
}
.avalible-zip-code select.form-control.mult-zip:focus {
    box-shadow: none;
}
.zip-btn-group button.xip-btn-col {
    min-width: 85px;
    width: 100%;
    margin: 14px 0;
    padding: 0;
}
button.custom-zone-btn.cancel-btn {
    width: auto;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.4285rem;
    margin: 0;
    box-shadow: none;
    min-width: 90px;
}
button.custom-zone-btn.cancel-btn:hover {
    box-shadow: 0 8px 25px -8px #d2d2d2;
}
button.btn.btn-outline-primary.custom-zone-btn.waves-effect.waves-light i-feather {
    width: 18px;
}
button.custom-zone-btn:hover, .zip-btn-group button.xip-btn-col:hover, button.custom-zone-btn.cancel-btn:hover {
    background-color: rgba(115, 103, 240, 0.08);
    color: #7367F0;
}
.avalible-zip-code {
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #fff;
    padding: 12px;
    margin-top: 10px;
    min-height: 350px;
    height: 100%;
    margin-bottom: 50px;
}
.avalible-zip-code p {
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: #000;
}
.zip-btn-group {
    flex-flow: column;
    display: flex;
    margin: 100px 0;
}
/* .zip-btn-group button.xip-btn-col {
    width: 110px;
    margin: 15px 0;
}
.zip-btn-group button.xip-btn-col {
    min-width: 80px;
    width: 100%;
    margin: 12px auto;
    background: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    font-size: 0.9rem;
    height: 32px;
} */
i-feather.cstm-ic-col {
    width: 10px;
    height: 21px;
}
i-feather.cstm-ic-col.rotaite {
    transform: rotate(180deg);
}


i-feather.cstm-ic-col svg.feather.feather-play {
    fill: #7367F0;
    color: #7367F0;
}
h4.modal-title.cstm_h {
    color: #636363 !important;
}
.modal-body.cstm-popup form .form-group {
    display: flex;
    flex-flow: column;
}
.modal-body.cstm-popup form .form-group input {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: calc(1.25em + 1.4rem + 1px);
    padding: 0.6rem 0.7rem;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.25;
    color: #4E5154;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal-body.cstm-popup form .form-group input:focus {
    color: #4E5154;
    background-color: #FFFFFF;
    border-color: #7367F0;
    outline: 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.btnpopupGroup button.customPopupBtn {
    min-width: 80px;
    background: #fff;
    border: 1px solid #b2b2b2;
    margin-left: 18px;
    height: 32px;
    border-radius: 2px;
    color: #766bf0;
    font-weight: 500;
}
.btnpopupGroup button.customPopupBtn.saveBtn {
    border: 0;
    background: #00a219;
    color: #fff;
}
.btnpopupGroup {
    margin-top: 20px;
}
input:focus {
    outline: 0;
}
div#addzone .modal-header, .modal-body.cstm-popup {
    padding: 20px 25px;
}
div#addzone .modal-header {
    padding-bottom: 9px !important;
}

select.mult-zip {
    border: 0;
    padding: 0;
    min-height: 320px;
    overflow: auto;
    box-shadow: none;
}

select.mult-zip option {
    font-size: 0.9rem;
    margin-bottom: 0px;
    color: #000;
    padding: 6px 8px;
}
.btnpopupGroup button.btn.btn-primary {
    min-width: 100px;
}

.modal .modal-header .close {
    margin: 0px;
}

    table.data-list-view.dataTable tbody tr.tbody-tr-table {
        width: 100%;
        overflow: auto;
        display: inline-flex;
    }
    table.data-list-view.dataTable tbody tr.table-data-tr-col{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
        max-width: 1230px;
        width: 100%;
    }
    table.dataTable thead tr.thead-tr-name-col{
        display: flex;
        justify-content: space-between;
        
    }
    table.data-list-view.dataTable thead th, table.data-list-view.dataTable tbody td{
        min-width: 95px;
    }
    table.data-list-view.dataTable tbody tr.tbody-tr-table td {
        min-width: auto;
    }
    table.dataTable thead tr.thead-tr-name-col th.checkox-input.sorting_disabled, table.data-list-view.dataTable tbody tr.table-data-tr-col td.checkox-input {
        min-width: 30px;
        width: 30px !important;
        display: flex;
        align-items: center;
    }
    th.call-to-action-btn, td.call-to-action-btn {
        min-width: 50px !important;
        width: 50px !important;
    }
    @media screen and (max-width: 1269px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1230px;
            width: 100%;
        }
        table.data-list-view.dataTable tbody tr.tbody-tr-table {
            width: 100%;
            overflow: auto;
            display: inline-flex;
        }
    }
    @media screen and (min-width: 1270px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1320px;
            width: 100%;
        }
        table.data-list-view.dataTable tbody tr.tbody-tr-table {
            width: 100%;
            overflow: auto;
            display: inline-flex;
        }
    }
    @media screen and (min-width: 1500px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1430px;
            width: 100%;
        }
        table.data-list-view.dataTable tbody tr.tbody-tr-table {
            width: 100%;
            overflow: auto;
            display: inline-flex;
        }
    }
    @media screen and (min-width: 1600px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1600px;
            width: 100%;
        }
    }
    @media screen and (min-width: 1700px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1700px;
            width: 100%;
        }
    }
    @media screen and (min-width: 1800px) {
        table.data-list-view.dataTable tbody tr.tbody-tr-table, table.dataTable thead tr.thead-tr-name-col, table.data-list-view.dataTable tbody tr.table-data-tr-col{
            max-width: 1800px;
            width: 100%;
        }
    }